* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

html,
body {
  overflow: hidden;
  background: #000;
}

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchbox {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 576px;
  height: 56px;
  background: rgba(60, 60, 60, 0.5);
  backdrop-filter: blur(32px);
  padding: 6px;
  border-radius: 100px;
  transition: background-color 100ms ease-in-out;
}

.searchbox:focus-within {
  background: rgba(60, 60, 60, 0.7);
}

.searchbox-icon {
  width: 44px;
  height: 44px;
  padding: 4px;
}

.search-input {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0 16px 0 2px;
  border: none;
  color: #ffffff;
  line-height: 1;
  outline: none;
}

.search-input::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  flex-shrink: 0;
  width: 112px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(24px);
  border: none;
  border-radius: 100px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-button:focus,
.search-button:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Clears the ‘X’ from search input */
:is(input[type="search"])::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}
